
<div class="slider">
    <ul class="slides">
      <li>
        <img src="img/portada/004.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/portada/003.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/portada/002.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="img/portada/001.jpg"> <!-- random image -->
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s4">
        <a href="#chair">
        <img src="img/logos/logo_silla.png" alt="Sillas" width="200px" height="200px">
        </a>
      </div>
      <div class="col s4">
        <a href="#table">
        <img src="img/logos/logo_mesa.png" alt="Mesas" width="200px" height="200px">
        </a>
      </div>
      <div class="col s4">
        <a href="#self">
        <img src="img/logos/logo_estanteria.png" alt="Estanterias" width="200px" height="200px">
        </a>
      </div>

    </div>
  </div>