<div class="row">
<h2 class="center-align">Chairs</h2>
	<article class="col s4" ng-repeat="furni in furniture.chair">
		<div class="card">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" ng-src="{{furni.image}}" width="250px">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{furni.name}}<i class="material-icons right">more_vert</i></span>
				<p>{{furni.price}} €</p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{furni.name}}<i class="material-icons right">close</i></span>
				<p>{{furni.description}}</p>
			</div>
		</div>
	</article>
</div>